@media screen and (max-width: 2000px) {
  header {
    background-color: blueviolet;
  }
  header h1 {
    text-align: center;
  }
  header .button-container {
    display: none;
  }
  header ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    list-style-type: none;
  }
  header li a {
    color: black;
  }
  main h2 {
    text-align: center;
  }
  main .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  main figure {
    padding: 20px;
  }
  main figure img {
    object-fit: cover;
    max-width: 100%;
    width: 250px;
    height: 250px;
  }
  footer {
    background-color: blueviolet;
  }
}

@media screen and (max-width: 500px) {
  header {
    background-color: blueviolet;
  }
  header h1 {
    text-align: center;
  }
  header .button-container {
    display: flex;
    justify-content: center;
  }
  header ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  header li a {
    color: black;
    text-align: center;
  }
  main h2 {
    text-align: center;
  }
  main .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  main figure {
    padding: 0px;
  }
  main figure img {
    object-fit: cover;
    max-width: 100%;
    width: 250px;
    height: 250px;
  }
  footer {
    background-color: blueviolet;
  }
}
